{#
|| Footer Features Section - Above Footer
#}

<section class="footer-features-section">
    <div class="container">
        <div class="footer-features">
            <div class="footer-feature">
                <i class="fas fa-headset"></i>
                <h3>Expert Service</h3>
                <p>Our friendly team's on hand seven days a week.</p>
            </div>
            <div class="footer-feature">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Amazing Value</h3>
                <p>The brands you prefer, at the prices you crave.</p>
            </div>
            <div class="footer-feature">
                <i class="fas fa-truck"></i>
                <h3>Fast & Free Shipping</h3>
                <p>Order ships out in a snap, and delivers in 1-3 days.</p>
            </div>
            <div class="footer-feature">
                <i class="fas fa-box"></i>
                <h3>Unbeatable Selection</h3>
                <p>Everything you want for your car, all in one place.</p>
            </div>
        </div>
    </div>
</section>
